progress::-webkit-progress-bar {
  border-radius: 1rem;
  background-color: white;
}

progress::-webkit-progress-value {
  border-radius: 1rem;
  background-color: #151278;
}

.animation {
  animation: checked .6s;
}

@keyframes checked {
  0% {
    opacity: 0;
    scale: .5;
  }
  50% {
    opacity: 1;
    scale: 1.1;
  }

  75% {
    scale: .75;
  }

  100% {
    scale: 1;
  }
}

